body {
  background-color: #f4f4f4;
  color: #333;
  font-family: Poppins, sans-serif;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #4891ff;
}

hr {
  height: 5px;
  border: none;
  width: 75%;
  background: linear-gradient(to right, transparent, #333, transparent);
}

.header {
    padding: 25px 0;
}

.header h1 {
  font-size: 72px;
  margin: 0;
}

.header p {
    font-size: 32px;
    margin: 0;
}

.links {
  text-align: center;
}

.links ul {
  display: inline-block;
  text-align: left;
}

.content {
  margin: 0 25%;
  padding: 0 25px;
}

.content h2 {
  margin: 0;
}

.align-center {
  text-align: center;
}